/* Reset css */
html, body, div, span, h1, h2, h3, h4, h5, p, a, ul, li, figure {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}
img {
  width: auto;
  max-width: 100%;
}

/* Custom CSS for fade-in fade-out slider */
/* .fade {
  animation: fade 5s infinite;
}

@keyframes fade {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
} */

/* Custom Styles */
body {
  background-color: #0B161A;
  color: #1f2937;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
  /* background-color: rgba(152, 152, 152, 0.3); */
  background-color: rgb(33, 33, 33, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 14px 16px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 4rem; */
}
.header-logo {
  display: flex;
  align-items: center;
  height: 42px;
}
.header-logo-link {
  display: block;
  width: 100%;
  height: 100%;
}
.header-logo img {
  width: 80px;
}
.header-logo span {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}
.nav-content {  
  display: none;
}
.nav-content.menu-open {
  display: block;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  background-color: rgb(33, 33, 33, 0.85);
  padding: 0 0 24px;
}
.nav {
  margin-left: auto;
  /* padding-left: 32px; */
}
.nav-menu-btn {
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}
.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ffffff;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
  font-size: 1rem;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px 0;
}
.nav-item:hover .nav-link {
  color: #93969c;
}
.nav-social {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 14px;
  margin: 0 24px;
}
.nav-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}
.nav-social-link {
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-social-link svg {
  width: 22px;
  height: 22px;
}
/* .nav-social-link:hover svg {
  stroke: #6b7280;
  fill: #6b7280;
} */
.nav-item-contact {
  display: inline-block;
  width: 100%;
  max-width: 32px;
  text-align: center;
  margin: 0 16px 0 auto;
}
.nav-item-phone {
  display: inline-block;
  margin-top: 4px;
}
.pc-only {
  display: none;
}
.sp-only {
  display: inline;
}
.hero-section {
  position: relative;
  height: 100vh;
  background-color: #1f2937;
}
.hero-bg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  /* background: linear-gradient(to bottom, rgb(135 135 135 / 25%) 0%, rgb(127 127 127 / 25%) 100%); */
  z-index: 1;
}
.hero-slider {
  height: 100%;
}
.hero-slider div {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-slider .hero-caption {
  position: relative;
  top: 28%;
  text-align: center;
  z-index: 3;
  padding: 0 24px;
}
.hero-caption h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 16px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.hero-text {
  font-size: 0.825rem;
  color: #fff;
  letter-spacing: 1.5px;
  margin-bottom: 24px;
  line-height: 1.5;
}
.hero-text-lg {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 8px;
  display: block;
}
.btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #0B161A;
  background-color: #EDBE78;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 1px;
  width: 100%;
  max-width: 240px;
  height: 44px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn-secondary {
  display: inline-block;
  color: #EDBE78;
  background-color: #0B161A;
  font-size: 1.05rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px 0;
  width: 100%;
  max-width: 240px;
  border: 1px solid #EDBE78;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.btn-tertiary {
  display: inline-block;
  color: #0B161A;
  background-color: #EDBE78;
  font-size: 1.05rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px 0;
  width: 100%;
  /* max-width: 240px; */
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.link-blank {
  position: relative;
}
.link-blank::after {
  content: url('../images/icons/link-blank.svg');
  position: absolute;
  z-index: 11;
  top: 60%;
  transform: translate(-50%, -60%);
  right: 0;
}
.reservation-container {
  max-width: 100%;
  margin: 40px auto 0;
  border-radius: 4px;
  position: relative;
  z-index: 3;
}
iframe#eveve {
  width: 100%;
  height: 490px;
  overflow-y: hidden;
}
.reservation-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.reservation-text {
  color: #ffffff;
  font-size: 0.875rem;
  margin: 0 auto 32px;
  width: 94%;
}
.reservation-intro {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  line-height: 1.4;
  width: auto;
  margin: 0 auto;
  margin-top: -18px;
}
.reservation-form input[type="date"] {
  color-scheme: dark;
}
.reservation-form input[type="time"] {
  color-scheme: dark;
}
.reservation-form .form-input,
.reservation-form .form-select,
.reservation-form .form-textarea {
  background-color: #141f23;
}
.reservation-contact,
.reservation-form {
  background-color: #141f23;
  padding: 32px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.reservation-form {
  padding: 8px 20px;
}
.reservation-contact-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}
.reservation-contact-info {
  padding: 0 48px;
}
.guest-count-msg {
  color: #ffffff;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.form-group-col {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}
.form-group-col-sm {
  width: 47.5%;
}
.form-input,
.form-select,
.form-textarea,
.form-button {
  width: 100%;
  padding: 0 0.5rem;
  height: 38px;
  border: 1px solid #EDBE78;
  border-radius: 4px;
  color: #fff;
  background-color: #0B161A;
  font-size: 0.925rem;
}
.form-select {
  height: 40px;
}
.form-textarea {
  padding: 0.5rem;
  resize: none;
}
.form-input::placeholder,
.form-textarea::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
}
.form-input:focus,
.form-select:focus {
  outline: none;
  border-color: #3b82f6;
}
.work-hrs {
  text-align: center;
  margin-bottom: 20px;
}
.work-hrs:last-child {
  margin-bottom: 0;
}
.work-hrs-label {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: normal;
}
.work-hrs-text {
  font-size: 0.825rem;
  color: #EDBE78;
}
.work-hrs-phn {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 12px;
}

.our-story,
.reservation,
.contact-section,
.newsletter-section,
.caption-section {
  padding: 6rem 1rem 7rem;
  text-align: center;
}
.title-head-secondary {
  color: #ffffff;
  margin: 24px auto;
}
.section-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.section-content {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.our-story {
  /* background-color: #0B161A; */
  background-image: url();
  /* filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(150%); */
  position: relative;
}
.our-story::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url(../images/ceyfo-logo-text.svg);
  background-repeat: no-repeat;
  background-position: center 18%;
  background-size: 80%;
  opacity: 0.1;
  /* margin: 30px; */
}
.story-text {
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 auto 24px;
  width: 91%;
}
.ceyfo-logo-bg {
  position: relative;
  z-index: 1;
  
}
.ceyfo-logo-bg img {
  /* filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(150%); */
}

.menu-section {
  padding: 3rem 1rem;
  background-color: #ffffff;
}
.menu {
  padding: 6rem 1rem 0;
  text-align: center;
  position: relative;
  z-index: 12;
}
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.menu-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s,
    color 0.3s;
}

.menu-button.active {
  background-color: #3b82f6;
  color: #fff;
}

.menu-button.inactive {
  background-color: #e5e7eb;
  color: #000;
}
.menu-list-wrap {
  margin-top: 40px;
}
.menu-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.menu-btn {
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #494949;
}
.menu-btn-col2 {  
  flex: 1 1 47%;
}
.menu-btn-col3 {
  flex: 1 1 30%;
}
.menu-btn-col4 {
  flex: 1 1 22.5%;
}
.menu-btn-content {
  position: relative;
  text-align: center;
  transition: opacity 0.3s;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn-content:hover {
  opacity: 0.7;
}
.menu-btn-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.menu-btn-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.9;
}
.menu-btn-text-sm {
  font-size: 16px;
  font-weight: normal;
  display: block;
  margin-top: 12px;
}
.menu-item-modal {
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 100%;
  padding: 8% 0 4%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  cursor: pointer;
}
.menu-item-inner {
  position: relative;
  top: 50%;
  left: 50%;
  width: 93%;
  height: 83%;
  overflow-y: scroll;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.menu-item-inner .menu-items {
  background-color: #fefcf3;
}
.menu-item-inner-brunch {
  border-radius: 10px;
  height: 85%;
  overflow-y: scroll;
  border: 1px solid #494949;
}
.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* gap: 40px; */
}
.menu-content-left {
  padding: 16px;
  background-image: url(../images/menu/bottomless-brunch-bg.jpg);
  background-size: cover;
  background-position: 65% center;
  background-repeat: no-repeat;
}
.menu-content-left-inner {
  background: rgba(157, 157, 157, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 16px 8px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.menu-content-right {
  flex: 1 1 60%;
  /* background-color: #fefcf3; */
  overflow-y: scroll;
  height: 100%;
}
.menu-content-title {
  font-size: 1.75rem;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.menu-intro {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  line-height: 1.4;
  width: auto;
  margin: 0 auto;
}
.menu-in-text {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  line-height: 1.4;
  width: auto;
  margin: 0 auto;
  width: 80%;
}
h3.menu-in-text {
  margin: 4px auto 4px;
  font-size: 1.25rem;
}
.menu-in-separator {
  margin: 8px auto;
}
.menu-in-contact {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  line-height: 1.4;
  display: block;
  width: auto;
  margin: 8px auto 0;
}
.menu-in-contact .contact-text-email {
  display: block;
}
.menu-in-contact .contact-text-phone {
  margin-bottom: 8px;
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6;
  background-color: #0B161A;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.caption-section {
  position: relative;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.caption-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.caption-sec-1 {
  background-image: url(../images/ceyfo-caption-1.jpg);
  background-position: center 38%;
}
.caption-sec-2 {
  background-image: url(../images/ceyfo-caption-2.jpg);
  background-position: center 40%;
}
.caption-text {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  line-height: 1.4;
  width: auto;
  margin: 0 auto;
}
.contact-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  padding: 0 12px;
}
.contact-intro {
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.3;
  /* width: 80%;
  margin: 0 auto 60px; */
}
.contact-info {
  width: 100%;
}
.contact-form {
  width: 100%;
}
.contact-details {
  margin-top: 24px;
}
.contact-details-list {
  list-style-type: none;
}
.contact-item {
  text-align: left;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 6px 0;
  display: flex;
}
.contact-text {
  padding-left: 12px;
  display: block;
  line-height: 1.4;
  color: #ffffff;
}
.contact-text-phone {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  background-color: #1f2937;
  color: #fff;
  padding: 1.8rem 1rem;
  text-align: center;
}
.ft-social-btn {
  margin: 0 auto 24px;
}
.ft-social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.ft-social-item {
  display: inline-flex;
}
.ft-social-item:not(:first-child)::before {
  content: '|';
  padding-right: 16px;
}
.ft-social-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.ft-social-link svg {
  width: 22px;
  height: 22px;
}

@media (min-width: 1024px) {
  .pc-only {
    display: inline;
  }
  .menu-content .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
  .header-container {
    padding: 8px 24px;
  }
  .header-logo {
    width: auto;
    height: 60px;
    margin-right: 188px;
  }
  .header-logo img {
    width: auto;
    height: 60px;
  }
  .nav-menu-btn {
    display: none;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav {
    display: flex;
    gap: 3rem;    
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .nav-item {
    width: auto;
    border: none;
  }
  .nav-link {
    padding: 0;
  }
  .nav-item-contact {
    max-width: 120px;
    margin: 0 0 4px 24px;
  }
  .nav-item-reserve {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #EDBE78;
    background-color: #0B161A;
    font-size: 0.85rem;
    font-weight: normal;
    letter-spacing: 1px;
    width: 100%;
    max-width: 120px;
    height: 32px;
    border: 1px solid #EDBE78;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .nav-item-reserve:hover {
    background-color: #EDBE78;
    color: #0B161A;
  }
  .nav-item-phone {
    display: none;
  }
  .nav-social {
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
  }
  .nav-social-list {
    gap: 2rem;
  }
  .nav-social-link {
    transition: opacity 0.3s;
  }
  .nav-social-link:hover {
    opacity: 0.6;
  }
  .hero-slider .hero-caption {
    top: 38%;
  }
  .hero-caption h1 {
    font-size: 3rem;
    letter-spacing: 5px;
  }
  .hero-text {
    font-size: 0.925rem;
    width: 45%;
    max-width: 700px;
    margin: auto auto 24px;
  }
  .hero-text-lg {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 8px;
    display: block;
  }
  .btn-primary:hover {
    background-color: #dca046;
  }
  .section-content {
    width: 960px;
    margin-top: 16px;
  }
  .reservation-container {
    max-width: 768px;
    padding: 40px 40px 8px;
    display: flex;
    background-color: #141f23;
  }
  iframe#eveve {
    height: 470px;
    margin-top: -12px;
  }
  .reservation-form {
    flex: 1 1 60%;
    padding: 0;
    margin-bottom: 0;
  }
  .reservation-contact {
    flex: 1 1 30%;
    border-left: 1px solid #EDBE78;
    padding: 0;
    margin-bottom: 0;
    margin-left: 50px;
    height: 435px;
  }
  .reservation-contact-info {
    padding: 12px 0 0 46px;
  }
  .reservation-text {
    width: 80%;
  }
  .title-head-secondary {
    margin: 32px auto;
  }
  .work-hrs {
    margin-bottom: 24px;
  }
  .our-story::before {
    background-position: center;
    background-size: 34%;
  }
  .story-text {
    width: 80%;
  }
  .caption-text {
    width: 72%;
  }
  .menu {
    padding: 6rem 1rem 1rem;
  }
  .menu-intro,
  .reservation-intro {
    width: 58%;
  }
  .menu-list {
    flex-direction: row;
  }
  .menu-btn:nth-child(1) {
    order: 1;
  }
  .menu-btn:nth-child(3) {
    order: 2;
  }
  .menu-btn:nth-child(4) {
    order: 4;
  }
  .menu-btn-content {
    height: 220px;
  }
  .menu-item-modal {
    padding: 0 0;
  }
  .menu-item-inner {
    width: 65%;
    top: 55%;
    height: 84vh;
  }
  .menu-item-inner-wide {
    width: 86vw;
  }
  .menu-content {
    height: 100%;
    flex-direction: row;
  }
  .menu-item-inner-brunch {
    overflow: hidden;
  }
  .menu-content-left {
    flex: 1 1 37%;
    height: 100%;
    height: -webkit-fill-available;
    padding: 24px;
  }
  .menu-content-left-inner {
    padding: 25px 20px 24px;
    height: -webkit-fill-available;
  }
  .menu-in-text {
    font-size: 1.2rem;
  }
  h3.menu-in-text {
    margin: 8px auto 2px;
    font-size: 1.5rem;
  }
  .menu-in-separator {
    margin: 16px auto;
  }
  .menu-in-contact {
    margin: 24px auto 16px;
  }
  .menu-in-contact .contact-text-phone {
    margin-bottom: 16px;
  }
  .contact-inner {
    flex-direction: row;
    gap: 100px;
    margin-top: 60px;
    padding: 0;
  }
  .contact-info {
    flex: 1 1 50%;
  }
  .contact-form {
    flex: 1 1 50%;
  }
  .form-group-col-sm {
    flex: 1;
  }
  .form-group-col-lg {
    flex: 0 0 100%;
  }
}

/* Dropdown menu styles */
.dropdown {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.dropdown a {
  color: #1f2937;
  text-decoration: none;
}

.dropdown a.active {
  font-weight: bold;
}

.show {
  display: flex;
}